
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f0f0f0;
}

.clock-container{
    display: flex;
}

.clock-element{
    font-size: 40px;
    margin: 0 10px;
}